*, ::after, ::before {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, hsl(20, 100%, 50%), hsl(75, 100%, 50%));
}