*, ::after, ::before {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, hsl(20, 100%, 50%), hsl(75, 100%, 50%));  
}

/*Clock body*/

.clock {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(255, 2555, 255, 0.75);
    border: 3px solid black;
    position: relative;
}

/*Clock numbers*/

.clock .number {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

/*Orient numbers against outside of clock face*/

.clock .number1 {
    transform: rotate(30deg);
}
.clock .number2 {
    transform: rotate(60deg);
}
.clock .number3 {
    transform: rotate(90deg);
}
.clock .number4 {
    transform: rotate(120deg);
}
.clock .number5 {
    transform: rotate(150deg);
}
.clock .number6 {
    transform: rotate(180deg);
}
.clock .number7 {
    transform: rotate(210deg);
}
.clock .number8 {
    transform: rotate(240deg);
}
.clock .number9 {
    transform: rotate(270deg);
}
.clock .number10 {
    transform: rotate(300deg);
}
.clock .number11 {
    transform: rotate(330deg);
}




