*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.first-color { 
	background: #f8b400; 
}
	
.second-color { 
	background: #faf5e4; 
}

.third-color { 
	background: #2c786c; 
}

.fourth-color { 
	background: #004445; 
}



body {
    height: 100vh;
    background: #2c786c;
}

.container {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    background: #faf5e4;
    min-width: 450px;
    min-height: 25vh;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.add-task {
    position: relative;
    padding: 30px 20px;
}